@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfcfc;
  --foreground: #99bd05;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-container {
  width: 100%;
  animation: zoomIn;
  animation-duration: 1s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 0.5;
  }
}

.home-container {
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-container {
  padding: 4rem;
}

.playlist-items-container {
  background-color: #f8cddf;
  border-radius: 1rem;
  padding: 1rem;
  flex-direction: row;
  min-height: 300px;
}

.playlist-items-container:empty::before {
  content: "add songs to start sorting!";
  color: var(--background);
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.playlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--background);
  font-weight: bold;
  font-size: 0.85rem;
  padding: 0.75rem;
}

h1 {
  font-size: 2rem;
  color: #eb3369;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  color: #ff779f;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #eb3369;
}

.add-song-form {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  min-width: 0;
  margin-top: 1rem;
  padding: 1rem;
}

.song-input,
.artist-input {
  padding: 0.5rem;
  border: 2px solid #ff779f;
  border-radius: 5px;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  flex: 1;
  min-width: 0;
}

.add-song-button {
  width: 3rem;
  height: 3rem;
  padding: 0;
  background-color: #f8cddf;
  color: #fffdf5;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.add-song-button:hover {
  background-color: #ff779f;
  color: #fffdf5;
}

.delete-button {
  background: none;
  border: none;
  color: #fffdf5;
  cursor: pointer;
  padding: 0.5rem;
}

.delete-button:hover {
  color: #e34a35;
}

.sort-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 4rem;
}

.sort-button {
  background-color: rgba(153, 189, 5, 0.3);
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: bold;
  color: #eb3369;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
}

.sort-button:hover {
  background-color: rgba(153, 189, 5, 0.7);
}

.playlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.25rem;
}

.refresh-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #ff779f;
  transition: color 0.3s ease;
  transition: transform 0.3s ease;
}

.refresh-button:hover {
  transform: rotate(180deg);
  transition: transform 0.3s ease;

}